*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-color: black;
   background-image: url(backdrop2.jpg);
   background-position: 50%;
    
}
.container{
    align-items: center;
    
    
}
.navbar{
    display: flex;
    text-align: end;
    padding-left: 10%;
}
.navbar li{
    
    text-decoration: none;
    text-shadow: 2px;
    padding:  10px;
    margin-top: 10px;
    background:radial-gradient(#982c2c82,rgba(236, 86, 5, 0.762),#3c3b3b87);
    align-items:center;
     display: inline-block;
     border: solid rgb(18, 18, 30) 5px;
     border-radius: 20px;
     color: black;
     font-family: sans-serif;
     transition: background 0.5s;
     
   
}
.navbar li:hover{
    background-color: rgb(238, 72, 72);
}
.navbar  ul{
    padding-left: 450px;
     list-style-type: none;
     display: flex;

     display: inline-block;
 
     
}
.navbar  ul li a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    
}
.menu{
    
    padding-left: 25%;
}
.menu2{
    display: inline-block;
    text-align: center;
    padding-left: 30%;
    margin-top: 10px;
    font-size: x-large;
    
    
}
h1{
    
    background: url(backdrop.jpg);
    border-radius: 20px;
    background-position:60%;
    padding: 4px;
}
.menu2 p{
    text-decoration: underline;

}
h4{
    text-align: start;
    color: rgb(247, 247, 250);
    background-color: rgb(20, 20, 21);
    border:#3c3b3b87 solid 3px;
    height: 30%;
    width: 400px;
    padding: 20px;
    justify-content:space-around;
}
h2{
    color: blue;
    padding: 20px;
    
   
    display: inline-block;
   
}
.container2{
    display: flex;
    
}

