*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(backdrop2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    align-items: center;
    
    
}
.navbar{
    display: flex;
    text-align: end;
    padding-left: 10%;
}
.navbar li{
    
    text-decoration: none;
    text-shadow: 2px;
    padding:  10px;
    margin-top: 10px;
    background:radial-gradient(#982c2c82,rgba(236, 86, 5, 0.762),#3c3b3b87);
    align-items:center;
     display: inline-block;
     border: solid rgb(18, 18, 30) 5px;
     border-radius: 20px;
     color: black;
     font-family: sans-serif;
     transition: background 0.5s;
     
   
}
.navbar li:hover{
    background-color: rgb(238, 72, 72);
}
.navbar  ul{
    padding-left: 450px;
     list-style-type: none;
     display: flex;

     display: inline-block;
 
     
}
.navbar  ul li a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    
}
.menu{
    
    padding-left: 25%;
}
.menu2{
    display: inline-block;
    text-align: center;
    padding-left: 30%;
    margin-top: 10px;
    font-size: x-large;
    
    
}
h1{
    
    background: url(backdrop.jpg);
    border-radius: 20px;
    background-position:60%;
    padding: 4px;
}
.menu2 p{
    text-decoration: underline;

}

img{
    border:  red blue 5px;
    border-style:ridge;
}
.image li{
    display:inline-block;
    padding: 1.5em;
    margin-top: 5%;
    
    
}
.image li p{
    padding: 10px;
     background: url(backdrop2.jpg);
       background-position:50%;
    border: 3px  red;
    border-style:ridge;
    text-align: center;
    border-radius: 20px;
    transition: background 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.image li p a{
    text-decoration: none;
    color: black;
}
.image li p:hover{
    background:url(background.jpg);

}